.world {
  position: absolute;
  inset: 0;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.world::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../assets/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.15;
  z-index: 0;
  pointer-events: none;
}


.pollution {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, transparent 30%, rgba(50, 40, 30, 0.8) 100%);
  pointer-events: none;
  z-index: 10;
}

.tree-container {
  position: absolute;
  z-index: 5;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.tree-sprite {
  height: auto;
  width: auto;
  display: block;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
